@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap");
* {
  position: relative;
  font-family: "Cinzel Decorative", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 1.05em;  /* 放大字體 1.5 倍 */
}


nav {
  color: #d4a243;
  padding: 24px 16PX;
  transition: 0.2s;
}
nav .navbar-top {
  background-color: rgba(0, 0, 0, 0);
}
nav .logo {
  text-decoration: none;
  color: #4a4747;
}
nav .logo a {
  color: #4a4747;
  transition: 0.2s;
}
nav .logo a.fontcolor_black {
  color: #fafafa;
}
nav .logo:hover a {
  color: #d4a243;
}
nav a {
  color: #4a4747;
}
nav ul {
  margin-left: 0;
}
nav ul .nav-item {
  padding: 0px 16px;
}
nav ul .nav-item a {
  color: #4a4747;
  transition: 0.2s;
}
nav ul .nav-item a.fontcolor_black {
  color: #fafafa;
}
nav ul .nav-item:hover a {
  color: #d4a243;
}

.navbar-scrolled {
  background-color: #fafafa;
}

header {
  background-image: url("../images/header_brighter.jpeg");
  background-size: cover;
 
  background-repeat: no-repeat; 
  background-attachment: fixed;
  background-color: rgba(255, 240, 220, 0.2);
  /* background-color: rgba(255, 255, 255, 0.4); */
  background-blend-mode: lighten;
  background-position: 0px -176px;
  padding: 264px 96px 524px 96px;
}

header .title {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}
header .title .title-name h1, header .title .title-name h5 {
  color: #4a4747;
  font-family: "Cinzel Decorative", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}
header .title .title-name h1 {
  font-size: 4.5rem;
}
header .title .title-name h1::after {
  content: "";
  display: block;
  width: 5rem;
  height: 1px;
  background-color: #d4a243;
  margin: 12px auto 32px auto;
}
header .title .info-card {
  display: flex;
  justify-content: center;
  /* border: solid 1px; */
  border-radius: 36px;
  padding: 12px;
  margin: 24px 0px;
}
header .title .info-card .left {
  border-right: solid 1px ;
}
header .title .info-card .col-md-6 .info {
  display: block;
  width: 100%;
  text-align: center;
}

@media (max-width: 768px) {
  nav {
    padding: 24px 6PX;
    
  }
  .logo {
    font-size: 1rem;
  }
  header {
    background-position: -350px -50px;
    background-size: 250% auto;
    background-attachment: scroll;
    padding: 180px 96px 324px 96px;
  }
  header .title .title-name h1 {
    font-size: 2.5rem;
  }
  header .title .title-name h5 {
    font-size: 1rem;
  }
  header .title .title-name h1::after {
    margin: 12px auto 24px auto;
  }
}
#our_story {
  background-image: url(https://www.ohio.edu/sites/default/files/styles/max_1300x1300/public/2022-03/20170811south_green_summer_drone_bws%20%281%29.jpg?itok=F49Rm5Q0);
  padding: 112px 0px;
  background-size: cover;
  background-attachment: fixed;
}
#our_story .story-text {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 8px;
  margin: auto;
  padding: 48px;
  /* text-align: left; */
}
#our_story h1::after {
  content: "";
  display: block;
  width: 64px;
  height: 1px;
  background-color: #d4a243;
  margin: 12px auto 16px auto;
}

#wedding_info {
  border-top: solid 12px #ebdfc7;
  border-bottom: solid 12px #ebdfc7;
  padding: 72px;
  background-image: url("../images/大理石背景.jpg");
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.6);
  background-blend-mode: lighten;
}
#wedding_info img {
  width: 100%;
}
#wedding_info hr {
  border: solid 1px black;
}
#wedding_info h5 {
  display: inline-block;
  text-align: center;
}
#wedding_info h5::after {
  content: "";
  display: block;
  width: 28px;
  height: 0.5px;
  background-color: #d4a243;
  margin: 5px auto 0 auto;
}

#transportation {
  background-image: url(https://scontent.ftpe4-2.fna.fbcdn.net/v/t1.6435-9/139741816_3770498436378713_980694025469756419_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=127cfc&_nc_ohc=jjQIlj4TFyAQ7kNvgHVzMpt&_nc_oc=Adhtd7oXwDAKYBHdDW3G7HJYH7r7FdsG__x_O4k2-ggOfVwLZzLNO5HIsBVK5RNM5udo1RkAkUvVx24NNqCBuAVa&_nc_zt=23&_nc_ht=scontent.ftpe4-2.fna&_nc_gid=APmLwAvEb207jl-rqt604Jq&oh=00_AYGvH5uajHLVpbAs4M3W-NgUPaizM9CXk36WPPuKdKaXvA&oe=67F61E3B);
  background-size: cover;
  background-attachment: fixed;
  padding: 72px;
}
#transportation h1::after {
  content: "";
  display: block;
  width: 64px;
  height: 1px;
  background-color: #d4a243;
  margin: 12px auto 32px auto;
}
#transportation .row {
  z-index: 2;
}
#transportation .map {
  margin: 4rem 0px;
  border-top: solid 8px #ebdfc7;
}

#transportation::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f7e9e8;
  opacity: 0.8;
  z-index: 1;
}
#transportation h5::after {
  content: "";
  display: block;
  width: 64px;
  height: 1px;
  background-color: #d4a243;
  margin: 12px auto 16px auto;
}

#register {
  border-top: solid 12px #ebdfc7;
  border-bottom: solid 12px #ebdfc7;
  padding: 56px 56px 24px 56px;
  background-image: url("../images/大理石背景.jpg");

  background-size: cover;
  background-color: rgba(255, 255, 255, 0.6);
  background-blend-mode: lighten;
}

#register .btn-primary {
  margin: 16px;
  background-color: rgba(255, 255, 255, 0);
  color: #d4a243;
  border-color: #d4a243;
  transition: 0.2s;
  font-size: 1.2rem;
  padding: 8px 20px;
}
#register .btn-primary:hover {
  background-color: #d4a243;
  color: #fafafa;
}

#register {
  display: block;
}
#register h1::after {
  content: "";
  display: block;
  width: 64px;
  height: 0.5px;
  background-color: #d4a243;
  margin: 12px auto 16px auto;
}

#footer {
  background-color: #ebdfc7;
  padding: 32px;
}
#footer a {
  text-decoration: none;
  color: #4a4747;
  font-weight: 900;
  font-size: 1rem;
}
@media (max-width: 768px) {
  #register .row{
    transform: scale(0.8)
  }
  #transportation h5{
    font-size: 1rem;
  }
  #wedding_info  h5{
    font-size: 1rem;
  }
}