@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap");
* {
  position: relative;
  font-family: "Cinzel Decorative", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 1.05em;  /* 放大字體 1.5 倍 */
}


nav {
  color: #d4a243;
  padding: 24px 16PX;
  transition: 0.2s;
}
nav .navbar-top {
  background-color: rgba(0, 0, 0, 0);
}
nav .logo {
  text-decoration: none;
  color: #4a4747;
}
nav .logo a {
  color: #4a4747;
  transition: 0.2s;
}
nav .logo a.fontcolor_black {
  color: #fafafa;
}
nav .logo:hover a {
  color: #d4a243;
}
nav a {
  color: #4a4747;
}
nav ul {
  margin-left: 0;
}
nav ul .nav-item {
  padding: 0px 16px;
}
nav ul .nav-item a {
  color: #4a4747;
  transition: 0.2s;
}
nav ul .nav-item a.fontcolor_black {
  color: #fafafa;
}
nav ul .nav-item:hover a {
  color: #d4a243;
}

.navbar-scrolled {
  background-color: #fafafa;
}

header {
  background-image: url("../images/header_brighter_2.jpg");
  background-size: cover;
 
  background-repeat: no-repeat; 
  background-attachment: fixed;
  background-color: rgba(255, 240, 220, 0.2);
  /* background-color: rgba(255, 255, 255, 0.4); */
  background-blend-mode: lighten;
  background-position: 0px -176px;
  padding: 264px 96px 524px 96px;
}

header .title {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}
header .title .title-name h1, header .title .title-name h5 {
  color: #4a4747;
  font-family: "Cinzel Decorative", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}
header .title .title-name h1 {
  font-size: 4.5rem;
}
header .title .title-name h1::after {
  content: "";
  display: block;
  width: 5rem;
  height: 1px;
  background-color: #d4a243;
  margin: 12px auto 32px auto;
}
header .title .info-card {
  display: flex;
  justify-content: center;
  /* border: solid 1px; */
  border-radius: 36px;
  padding: 12px;
  margin: 24px 0px;
}
header .title .info-card .left {
  border-right: solid 1px ;
}
header .title .info-card .col-md-6 .info {
  display: block;
  width: 100%;
  text-align: center;
}


#our_story {
  background-image: url("./images/our_story_bg.jpg");
  padding: 112px 0px;
  background-size: cover;
  background-attachment: fixed;
  position: relative;  /* 讓子元素 (img) 受控於這個區塊 */
  overflow: hidden; 
}

#our_story .story-text {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 8px;
  margin: auto;
  padding: 48px;
  /* text-align: left; */
}
#our_story h1::after {
  content: "";
  display: block;
  width: 64px;
  height: 1px;
  background-color: #d4a243;
  margin: 12px auto 16px auto;
}

#wedding_info {
  border-top: solid 12px #ebdfc7;
  border-bottom: solid 12px #ebdfc7;
  padding: 72px;
  background-image: url("../images/大理石背景.jpg");
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.6);
  background-blend-mode: lighten;
}
#wedding_info img {
  width: 100%;
}
#wedding_info hr {
  border: solid 1px black;
}
#wedding_info h5 {
  display: inline-block;
  text-align: center;
}
#wedding_info h5::after {
  content: "";
  display: block;
  width: 28px;
  height: 0.5px;
  background-color: #d4a243;
  margin: 5px auto 0 auto;
}

#transportation {
  background-image: url("./images/trans_bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  padding: 72px;
}
#transportation iframe {
  width: 100%;
  height: 30rem;
}
#transportation h1::after {
  content: "";
  display: block;
  width: 64px;
  height: 1px;
  background-color: #d4a243;
  margin: 12px auto 32px auto;
}
#transportation .row {
  z-index: 2;
}
#transportation .map {
  margin: 4rem 0px;
  border-top: solid 8px #ebdfc7;
}
.gmap_btn {
  margin-top: 5000px;
  width: auto;
  padding: 16px 24px;
  background-color: #d4a243;
  color: white;
  font-size: 1.1rem;
  /* border: solid 1px #d4a243; */
  margin: auto;
  
}
.gmap_btn a{
  width: 100%;
  height: 100%;
  background-color: #d4a243;
  text-decoration: none; /* 移除底線 */
  color: white; 
}

.gmap_btn:hover {
  color: white;
  background-color: rgba(212, 162, 67, 0.7);
}
#transportation::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f7e9e8;
  opacity: 0.8;
  z-index: 1;
}
#transportation h5::after {
  content: "";
  display: block;
  width: 64px;
  height: 1px;
  background-color: #d4a243;
  margin: 12px auto 16px auto;
}

#register {
  border-top: solid 12px #ebdfc7;
  border-bottom: solid 12px #ebdfc7;
  padding: 56px 56px 24px 56px;
  background-image: url("../images/大理石背景.jpg");

  background-size: cover;
  background-color: rgba(255, 255, 255, 0.6);
  background-blend-mode: lighten;
}

#register .btn {
  margin: 16px;
  background-color: #d4a243;
  color: white;
  border: none;
  transition: 0.2s;
  font-size: 1.2rem;
  padding: 8px 20px;
}

#register .btn:hover {
  background-color: rgba(212, 162, 67, 0.7);
  /* border-color: rgba(212, 162, 67, 0.6); */
  /* color: black; */
}

#register {
  display: block;
  z-index: 1;
}
#register h1::after {
  content: "";
  display: block;
  width: 64px;
  height: 0.5px;
  background-color: #d4a243;
  margin: 12px auto 16px auto;
}

#footer {
  background-color: #ebdfc7;
  padding: 32px;
}
#footer a {
  text-decoration: none;
  color: #4a4747;
  font-weight: 900;
  font-size: 1rem;
}
@media (max-width: 768px) {
  /* #register .row{
    transform: scale(0.8)
  } */
  #transportation p{
    font-size: 0.9rem;
  }
  #transportation h1 {
    margin-bottom: 2.5rem;
  }
  #transportation h1::after {
    
    display: none;
  }
  #wedding_info p{
    font-size: 0.9rem;
  }
}
@media (max-width: 768px) {
  nav {
    padding: 24px 6PX;
  }
  
  header {
    background-position: center -72px;
    background-size: 300% auto;
    background-attachment: scroll;
    padding: 140px 96px 224px 96px;
    z-index: 1;
  }
  header .title .title-name h1 {
    font-size: 1.8rem;
  }
  header .title .title-name h5 {
    font-size: 0.7rem;
  }
  header .title .title-name h1::after {
    margin: 12px auto 24px auto;
  }
  .mb-info {
    padding-top: 3rem;
  }
  .mb-info .line::after {
    content: "";
    display: block;
    width: 1px;
    height: 64px;
    background-color: #d4a243;
    margin: 16px auto -12px auto;
  }
  .mb-info p{
    font-size: 1.15rem;
  }
  #our_story {
    padding: 112px 0px;
    position: relative; /* 讓子元素 (img) 受控於這個區塊 */
    overflow: hidden;
    background-color: transparent; /* 設為透明 */
  }
  .our-story-bg {
    /* position: fixed;     
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("./images/our_story_bg.jpg");
    background-size: cover;
    background-position: center;
    z-index: -100; */
    position: fixed; /* 讓圖片固定在這個區塊 */
    top: 0;
    left: 0;
    width: 100%; /* 確保圖片填滿整個區塊 */
    height: 100%; /* 確保填滿 */
    object-fit: cover; /* 讓圖片完全覆蓋區塊，不變形 */
    z-index: 0; /* 讓背景圖片位於內容下方 */
}
  #our_story .story-text {
    background-color: rgba(255, 255, 255, 0.7);
  }
  #transportation {
    border-top: solid 12px #ebdfc7;
    border-bottom: solid 12px #ebdfc7;
    padding: 72px;
    background-image: url("../images/大理石背景.jpg");
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.6);
    background-blend-mode: lighten;
  }
  #transportation::before {
    opacity: 0.8;
    display: none;
  }
  
}